/*********** Start Main Nav ************/

#main-nav {
  height: 70px;
  line-height: 60px;
  font-weight: 500;
  font-size: 1.3em;
  background-color: #fff;
}

#logo-container {
  float: left;
  width: 20vw;
  height:60px;
  text-align:center;
}

#logo-container img{
padding: 2% 0;
height: 100%;
}

#links-container {
  float: left;
  width: 55vw;
  text-align: center;
  padding-left: 4vw;
}

#login-container {
  float: left;
  width: 25vw;
  font-size: 0.8em;
  text-align: right;
  padding-right:5vw;
}

#mobile-button-container {
  display: none;
  float: left;
  width: 60vw;
  font-size: 2em;
  text-align:right;
}

#bars {
  padding-right: 10vw;
}

#main-nav li {
  display: inline;
  padding-right: 1vw;
}
#login-container li:last-child {
  padding-right: 3vw;
}

nav a {
  text-decoration: none;
  color: #242424;
}

nav a:hover {
  text-decoration: none;
  color: #ee5b33;
}



/********** Start Mobile Nav ***********/

#mobile-nav {
  width: 100vw;
  min-width:100px;
  display: none;
  font-size: 4vw; 
  position: absolute;
  background-color: #fff;
}

#mobile-nav a {
  text-decoration: none;
  opacity: 0.99;
}

#mobile-nav li {
  text-align: center;
  padding: 2vh 0 ;
  border-bottom: solid 1px #242424;
}

#mobile-nav li {
  text-align: center;
  padding: 2vh 0 ;
  border-bottom: solid 1px #242424;
}

#mobile-logim {
  text-align: center;
  padding-top: 2vh;
}

#mobile-login li {
  display: inline;
  font-size: 5vw;
  padding: 2vh 1vw;
  border: none;
}




/*********** Media Queries For Nav ***********/

@media (max-width: 650px) {
  
  #logo-container {
    width: 40vw;
  }

  #links-container {
    display: none;
  }

  #login-container {
    display: none;
  }

  #mobile-button-container {
    display: block;
  }
}

/********* END NAV CSS **********