<!DOCTYPE html>
<html>
  <head>
    <title>HEG</title>
    <link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href="components/nav/nav.css" />
    <link rel='stylesheet' href="stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:700|Vollkorn' rel='stylesheet' type='text/css'>
    <script src="angular/angular.min.js"></script>
    <script src="angular-ui-router/release/angular-ui-router.min.js"></script>


    
  </head>
  <body ng-app="heg" ng-controller="mainCtrl">
    

    <div ui-view></div>
    
<!--     <script src="/socket.io/socket.io.js"></script> -->
    <script type="text/javascript" src="angular-qrcode/angular-qrcode.js"></script>
    <script type="text/javascript" src="jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="components/nav/nav.js"></script>
    <script src="js/main.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/mainCtrl.js"></script>
    <script src="js/controllers/gamesCtrl.js"></script>
    <script src="js/controllers/phoneCtrl.js"></script>
    <script src="js/services/hegStorage.js"></script>
    <script src="js/services/socketService.js"></script>

  </body>
</html>
