<footer> 
      <div class="row">
        <div class="col-sm-4">
          <h1>Contact</h1>
          <div>info@heg.com</div>
        </div>
        <div class="col-sm-4">
          <h1>Top Games</h1>
          <div>Cube Rotation</div>
          <div>Cube Tap</div>
          <div>VR Cube</div>
        </div>
        <div class="col-sm-4">
          <h1>Follow</h1>
          <div class="social">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </div>
        </div>
      </div>
    </footer>