  <div class='popup'>
  <div class='popup-text container'>
    <div class="close" ui-sref="^"><i class="fa fa-times" aria-hidden="true" ></i></div>
    <div class="row">
      <h1 class="col-sm-12" ">{{currentGame.name}}</h1>
    </div>
      <div class="row">
        <div>
          <i class="col-sm-3 fa fa-user" aria-hidden="true" ng-if="currentGame.players.length == 1" > {{currentGame.players.length}} player</i>
          <i class="col-sm-3 fa fa-user" aria-hidden="true" ng-if="currentGame.players.length > 1" > 1 - {{currentGame.players.length}} players</i>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Description</h4>
          <p>{{currentGame.description}}</p>
        </div>
        <div class="col-sm-12">
          <h4>Rules</h4>
          <p>{{currentGame.rulesSingle}}<br>
          <br>
          {{currentGame.rulesMultiplayer}}
          </p>
        </div>

        <div>
          <div class="btn" ng-click="goToGame()">
<!--               <a class="btn" href="#/games/{{currentGame.name}}"> -->
          Play now
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
 </div> 