<div class="popup container-fluid" ng-show="toggleCurrent">
  <div class='popup-text container'>
    <div class="close" ng-click="moreDetails()"><i class="fa fa-times" aria-hidden="true" ></i></div>
    <div class="row">
      <h1 class="col-sm-12" ">{{currentGame.name}}</h1>
    </div>
      <div class="row">
        <i class="col-sm-3 fa fa-user" aria-hidden="true"> {{currentGame.players}}</i> 
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h4>Description</h4>
          <p>{{currentGame.description}}</p>
        </div>
        <div class="col-sm-12">
          <h4>Rules</h4>
          <p>{{currentGame.rulesSingle}}<br>
          <br>
          {{currentGame.rulesMultiplayer}}
          </p>
        </div> 
        <a class="btn" href="#"><div>1 player</div></a>
        <a class="btn" href="#"><div>2 player</div></a>
      </div>
    </div>
  </div>


<!--   i class="fa fa-user" aria-hidden="true"></i>
</div> -->
<div id="games" class="container-fluid">

  <div class="row" >
    <div class="games col-xs-4" ng-repeat="game in games" ng-click="moreDetails(game)">
      <h1>{{game.name}}</h1>
        <img ng-src="{{game.imgUrl}}"></img>
    </div>
  </div>


  
  

</div>