<div class="popup container-fluid">
      <div class='popup-text row'>
        <h1>Flashing Cubes</h1><i class="fa fa-user" aria-hidden="true"></i>

      </div>
</div>
<div id="games" class="container-fluid">

  <div class="row">
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
  </div>
    <div class="row">
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
  </div>
    <div class="row">
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
    <div class="games col-xs-4">
      <h1>Flashing Cubes</h1>
      <a href="#">
        <img src="images/branding/heg-logo.png"></img>
      </a>
    </div>
  </div>
  

</div>