<div class="container-fluid">
  <div class="row">
    <a ui-sref="games">
      <div id="banner" class="col-md-12">
       <div id="banner-text">
          <h1>
          See All Games
          </h1>
          <div class='banner-text'>
            click here
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="row">
    <h1 class="col-md-12">
      Latest Games
    </h1>
  </div>
  <div class="row" >
    <div class="col-sm-4" ng-repeat="game in games">
      <div class="latest-games">
        <h1>
          {{game.name}}
        </h1>
        <img ng-src="{{game.imgUrl}}"></img>
      </div>
    </div>
  </div>





  
<!--   <div class="row">
    <div class="col-sm-4">
      <div class="latest-games">
        <h1>Flashing Cubes</h1><br>
        <img src="images/branding/heg-logo.png"></img>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="latest-games">
        <h1>Rotating Cubes</h1><br>
        <img src="images/branding/heg-logo.png"></img>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="latest-games"><h1>VR Cubes</h1><br>
        <img src="images/branding/heg-logo.png"></img>
      </div>
    </div>
  </div> -->
</div>