.pageTitle {
  margin-top: 25vh;
}

.buttonContainer {
  padding-top: 5vh;
}

.explanation {
  text-align: center;
  margin-top: 5vh;

}

.btn {
border-radius: 5px;
width: 80vh;
margin: 1vh auto;
}
.btn:hover {
  color:#ee5b33;
  border-color: #ee5b33;
  font-size: 5vw;
} 

.btn h1 {
  font-size: 3vw;
}

#qrContainer .explanation {
  font-size: 4vh;
}

#qrcode {


}

canvas {
  display: block;
  margin:5vh 0 0 40vw;

}

.phoneLink {
/*  float:left;*/
  font-size: 2em;
  margin-bottom: 25%;
}

#qrcode {
  padding: 1vw;
  float: left;
}

#webAddress {
 font-size: 4vh;
 color: #ee5b33;
}

.liveScore {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  border: 2px solid #ee5b33 ;
}

.scoreBoard {
  display: inline-block;
  height:30px;
}

.scoreBoardTitle {
  vertical-align: top;
  color: #ee5b33;
}

.container {
  display: block;
} 
        
.cube {
  width: 33.3vw;
  height: 33.3vw;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #999999;
  box-shadow: inset 0 0 20px #333333;
  opacity: 0.8;
  float: right;
  color: #fff;
  font-size: 50%;
}
 
.cube .one {
  -webkit-transform: translateZ(30vw);
  transform: translateZ(30vw));
}
 
.cube .two {
  -webkit-transform: rotateY(90deg) translateZ(15vw));
  transform: rotateY(90deg) translateZ(15vw));
}

.cube .three {
  -webkit-transform: rotateY(180deg) translateZ(15vw));
  transform: rotateY(180deg) translateZ(15vw));
}
 
.cube .four {
  -webkit-transform: rotateY(-90deg) translateZ(15vw));
  transform: rotateY(-90deg) translateZ(15vw));
}
 
.cube .five {
  -webkit-transform: rotateX(90deg) translateZ(15vw));
  transform: rotateX(90deg) translateZ(15vw));
}

.cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(15vw)) rotate(0deg);
  transform: rotateX(-90deg) translateZ(15vw)) rotate(0deg);
}

/******Phone CSS******/
.pSquare {
  display:inline-block;
  height: 50vh;
  width: 32vw;
  background: #000;
}

#countdown {
  padding-left: 35vw;
  font-size: 50vh;
}

.hide {
  display: none;
}


