.phoneLink {
/*  float:left;*/
  font-size: 2em;
  margin-bottom: 25%;
}

#qrcode {
  padding: 1vw;
  float: left;
}

#webAddress {
 font-size: 0.5em;
}

.liveScore {

}

.container {
  display: block;
} 
        
.cube {
  width: 33.3vw;
  height: 33.3vw;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  background-color: #999999;
  box-shadow: inset 0 0 20px #333333;
  opacity: 0.8;
  float: right;
  color: #fff;
  font-size: 50%;
}
 
/*.face {
  width: 20vw;
  height: 20vw;
  position: absolute;
  font-size: 80px;
  text-align: center;
  line-height: 20vw;
  background-color: #999999;
  box-shadow: inset 0 0 20px #333333;
  opacity: 0.8;

}*/
 
.cube .one {
  -webkit-transform: translateZ(30vw);
  transform: translateZ(30vw));
}
 
.cube .two {
  -webkit-transform: rotateY(90deg) translateZ(15vw));
  transform: rotateY(90deg) translateZ(15vw));
}

.cube .three {
  -webkit-transform: rotateY(180deg) translateZ(15vw));
  transform: rotateY(180deg) translateZ(15vw));
}
 
.cube .four {
  -webkit-transform: rotateY(-90deg) translateZ(15vw));
  transform: rotateY(-90deg) translateZ(15vw));
}
 
.cube .five {
  -webkit-transform: rotateX(90deg) translateZ(15vw));
  transform: rotateX(90deg) translateZ(15vw));
}

.cube .six {
  -webkit-transform: rotateX(-90deg) translateZ(15vw)) rotate(0deg);
  transform: rotateX(-90deg) translateZ(15vw)) rotate(0deg);
}

/******Phone CSS******/
.pSquare {
  display:inline-block;
  height: 50vh;
  width: 32vw;
  background: #000;
}

#countdown {
  padding-left: 35vw;
  font-size: 50vh;
}

.hide {
  display: none;
}