* {
  margin: 0;
  padding: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

nav {
  font-family: 'Ubuntu', sans-serif;
  z-index: 1;
  border-bottom: 5px solid #ee5b33;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 8vh;
  text-align: center;
}

p {
  font-family: 'Vollkorn', serif;
  font-size: 16px;
}

#banner {
  padding-top: 60px;
  height: 70vh;
  background: url("../images/banner.png") no-repeat fixed left top;
  background-position: left top;
  background-size: cover;
/*  border-bottom: 5px solid #ee5b33;*/
}

#banner-text {
  background-color:rgba(36,36,36,0.8);
  height: 40vh;
  width: 50vw;
  margin: 3vh auto 0 auto;
  color: #fff;
/*  border: 3px solid #ee5b33;*/
  border-radius: 5px;
  padding: 10vh 0;
}

#banner-text h1 {
  text-align: center;
  font-size: 5vw;
}

#banner-text div {
font-family: 'Ubuntu', sans-serif;
text-align: center;
font-size: 2vw
}

.latest-games {
  border: 5px solid #ee5b33;
  border-radius: 5px;
  margin-bottom: 5vh;
}

.latest-games h1{
  font-size: 200%;
}

.latest-games img{
  margin: 0 auto;
  width: 100%;
}

footer {
  border-top: 5px solid #ee5b33;
  background-color: #242424;
  color: #fff;
  text-align: center;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #ee5b33;
}

footer h1 {
  color: #fff;
  font-size: 16px;
}

.social {
  font-size: 25px;
}

#games {
  height: 100vh;
  background: url("../images/games-background.jpg") no-repeat fixed left top;
  background-position: left top;
  background-size: cover;
}

.games {
  height: 33vw;
  background-color:rgba(255,255,255,0.6);
  border: 1px solid #000;
}

.games h1 {
  font-size: 3vh;
}

.games img {
  width: 100%;
}

.latest-game-list {
  z-index: -1;
}

.popup {
  position: fixed;
  height:100vh;
  width:100vw;
  z-index:1;
  top:0vh;
  background-color:rgba(35,35,35,0.6);
  left:0px;
}

.popup-text {
  position: absolute;
  top: 0vh;
/*  margin: 5vw;*/
  z-index:1;
  background-color: #fff;
  margin: 0 auto;
  margin-top:5vh;
  width: 90vw;
  padding: 0vw 5vw 5vw 5vw;
  border: 5px solid #ee5b33;
  height:90vh;
  margin-left: 3vw;
}

.popup-text h1{
  
  padding-top: 3vh;
}

.close {
  position: absolute;
  z-index:1;
  right: 5vw;
  top: 2vw;
  opacity: 1;
  font-size: 3vh;
  color: #242424;
}

.fa-user {
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  margin: 2vh 0 0 4%;
  width: 92%;
  border: 5px solid #242424;
  color: #242424;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3vh;
}

 .popup a:hover {
  color: #ee5b33;
  border: 5px solid #ee5b33;

}
/*********** Media Queries ***********/

@media (max-width: 650px) {
  
  p {
    font-size: 12px; 
  }
}