<!DOCTYPE html>
<html>
<head>
  <title>GameOnePhone</title>
  <link rel='stylesheet' href="../stylesheets/style.css" />
  <link rel='stylesheet' href="../stylesheets/gameone.css" />
</head>
<body>

<div id="syncScreen">
<h1>Flashing Cubes Controller</h1>
<div id="sync" class="btn" onclick="validatePlayer()">Sync</div>
</div>

     <div class="rowGame">
      <div id="pOne" class="pSquare"  onclick="move('cubeOne')"></div>
      <div id="pTwo" class="pSquare" onclick="move('cubeTwo')"></div>
      <div id="pThree" class="pSquare"  onclick="move('cubeThree')"></div>
    </div>
    <div class="rowGame">
      <div id="pFour" class="pSquare"  onclick="move('cubeFour')"></div>
      <div id="pFive" class="pSquare"  onclick="move('cubeFive')"></div>
      <div id="pSix" class="pSquare"  onclick="move('cubeSix')"></div>
    </div>


    <script src="../socket.io/socket.io.js"></script>
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../components/nav/nav.js"></script>
    
    <script src="../js/games/gameOnePhone.js"></script>
    
    <script src="../js/games/gameOneVerify.js"></script>
    <script src="../js/games/gameOneBoth.js"></script>


</body>
</html>
