<!DOCTYPE html>
<html>
<head>
  <title>GameOne</title>
  <link rel='stylesheet' href="../stylesheets/style.css" />
  <link rel='stylesheet' href="../stylesheets/gameone.css" />
</head>
<body>
  <h1>Rotating Cube</h1>

  <div id="buttonContainer">
    <a id="onePlayer" onclick="register(1)" data-qty="1"><div class="btn">1 Player</div></a>
    <a onclick="register(2)" data-qty="2"><div class="btn">2 Players</div></a>
  </div>

  <div id="qrContainer" class="hide">
    <div id="qrcode" ></div>
    <div>Please use the qr reader or naivgate to
      <div id="webAddress"></div>
    </div>
    <div id="playerConnected"></div>
  </div>

  <div id="countdown" class="hide">3</div>


<div id="cube" class="hide">  
  <div class="container">
    <div id="cubeOne" class="cube"></div>
    <div id="cubeTwo" class="cube"></div>
    <div id="cubeThree" class="cube"></div>
  </div>
  <div class="container">
    <div id="cubeFour" class="cube"></div>
    <div id="cubeFive" class="cube"></div>
    <div id="cubeSix" class="cube"></div>
  </div>
</div>

  <div class="liveScore">
    <div class="onePlayer">
      <div>time left:<div id="gameTime"></div></div>
      <div>score:<div id="scoreOne"></div></div>
      <div>right:<div id="rightOne"></div></div>
      <div>wrong:<div id="wrongOne"></div></div>
    </div>
    <div class="twoPlayer hide">
      <div>time left:<div id="gameTime"></div></div>
      <div>score:<div id="scoreTwo"></div></div>
      <div>right:<div id="rightTwo"></div></div>
      <div>wrong:<div id="wrongTwo"></div></div>
    </div>
  </div>

    <script src="../socket.io/socket.io.js"></script>
    
    <script type="text/javascript" src="../jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../libraries/jquery-qrcode-0.14.0/jquery-qrcode-0.14.0.js"></script>
    <script src="../js/games/gameOne.js"></script>
    <script src="../js/games/gameOneBoth.js"></script>
    
</body>
</html>